{% extends 'Layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style-jadwal.css'%}">
{% endblock css %}

{% block content %}
<div class="main w-50 d-flex justify-content-center flex-column">
    <div class="header mt-4" style="
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 28px;">
            <h1>Add Member</h1></div>
    <form action="" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name </label>
            <span>Event : {{event.name}}</span>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="eventNameHelp">
            <input type="hidden" name="eventId" value="{{event.id}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock content %}