{% extends 'Layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style-jadwal.css'%}">
{% endblock css %}

{% block content %}
<div class="main w-50 d-flex justify-content-center flex-column">
    <div class="tulisan d-flex justify-content-center mt-2" style="position: relative;">
        <span style="
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            z-index: 1;
            display: block;
            font-weight: 900;
            font-size: 40px;
        ">
            EVENT KAMUUUUU!!!!!!
        </span>
    </div>
    <button type="button" class="btn btn-primary btn-lg my-2" href="{% url 'event:addEvent' %}">TAMBAH EVENT</button>
    <div class="table">
        {% for i in event %}
        <div class="card">
            <h5 class="card-header">{{ i.name }}</h5>
            <div class="card-body">
            <h5 class="card-title">ANGGOTA :</h5>
            <ul class="list-group">
            {% for j in member %}
                {% if j.event == i %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>{{j.name}}</span>
                        <a class="material-icons text-danger text-decoration-none" href="{% url 'event:deleteMember' j.id %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>HAPUS ANGGOTA</button></a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            <button type="button" class="btn btn-info my-2" href="{% url 'event:addMember' id=i.id %}">TAMBAH ANGGOTA</button>
            </div>
        </div>
        {% endfor %}
    </div>
<br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock content %}