{% extends 'Layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style-jadwal.css'%}">
{% endblock css %}

{% block content %}
<div class="main w-50 d-flex flex-column align-items-center">
    <div class="tulisan d-flex justify-content-center mt-2" style="position: relative;">
        <span style="
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            z-index: 1;
            display: block;
            font-weight: 900;
            font-size: 40px;
        ">
            JADWALMU
        </span>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Dosen</th>
            <th scope="col">SKS</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Semester</th>
            <th scope="col">Kelas</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr>
                <th scope="row">{{matkul}}</th>
                <td>{{dosen}}</td>
                <td>{{sks}}</td>
                <td>{{deskripsi}}</td>
                <td>{{semester}}</td>
                <td>{{kelas}}</td>
            </tr>
        </tbody>
    </table>     
    <a href="{% url 'jadwal:Jadwal'%}"> <button style="font-family: 'Montserrat', sans-serif;" 
        class="btn btn-primary align-items-center">BACK TO FORM JADWAL</button></a></td>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}