{% extends 'Layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style-jadwal.css'%}">
{% endblock css %}

{% block content %}
<div class="main w-50">
    <div class="tulisan d-flex justify-content-center mt-2" style="position: relative;">
        <span style="
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            z-index: 1;
            display: block;
            font-weight: 900;
            font-size: 40px;
        ">
            ISI JADWAL YUK!!!
        </span>
    </div>
    <div class="form mt-4 mb-5">
        <form action='' method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="centre-items">
                <input type="submit" class="btn btn-primary" value="Add Schedule">
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mata Kuliah</th>
                </tr>
            </thead>
            <br>
            <tbody>
                {% for jadwal in jadwal %}
                <tr>
                    <th scope="row">{{jadwal.matkul}}</th>
                    <td><a href="{% url 'jadwal:delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Delete</button></a></td>
                    <td><a href="{% url 'jadwal:detail' pk=jadwal.pk %}"> <button class="btn btn-light">Detail</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<br><br><br><br><br><br><br>
</div>
{% endblock content %}