{% extends 'Layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style-home.css'%}">
{% endblock css %}

{% block content %}
<div class="main d-flex justify-content-center flex-column" style="height: 84vh;">
    <div class="foto d-flex justify-content-center" data-aos="fade-down" data-aos-duration="1800">
        <div class="image">

        </div>
    </div>
    <a href="{% url 'homepage:Phortopholio'%}" style="font-weight: 900;" class="menu1 mt-3" data-aos="fade-down"
    data-aos-duration="1200">
        <span>PORTFOLIO</span>
    </a>
</div>
{% endblock content %}