<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Story3</title>
</head>
<body style="
    height: 100%;
">
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center" style="background-color: #0168AA;">
        <!-- Navbar content -->
        <a class="navbar-brand mr-5" href="{% url 'homepage:Home' %}" style="
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 22px;
            margin-right: 0px;
            
            color: #FFFFFF;
            ">HOME</a>
        <a class="navbar-brand mr-5" href="{% url 'homepage:Phortopholio' %}" style="
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 22px;
            margin-right: 0px;
            
            color: #FFFFFF;
            ">PHORTOPHOLIO</a>
        <a class="navbar-brand mr-5" href="{% url 'homepage:Story1'%}" style="
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 22px;
            margin-right: 0px;
            
            color: #FFFFFF;
            ">STORY1</a>
        <a class="navbar-brand mr-5" href="{% url 'jadwal:Jadwal'%}" style="
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 22px;
        margin-right: 0px;
        
        color: #FFFFFF;
        ">JADWAL</a>
        <a class="navbar-brand " href="{% url 'event:Event'%}" style="
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 22px;
            margin-right: 0px;
            
            color: #FFFFFF;
            ">EVENT</a>
    </nav>
    <div class="semuanya d-flex flex-row justify-content-center">
        <div class="kiri" style="
            width:27.5%;
            z-index: 100;
            background: white;
            display: block;
        ">

        </div>
        {% block content %}
        
        {% endblock content %}
        <div class="kanan" style="
        width:27.5%;
        z-index: 100;
        background: white;
    ">
    
        </div>
    </div>
    <div class="footer w-100">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0168AA;">
            <!-- Navbar content -->
            <a class="navbar-brand " href="#">© Copyright by Said Nizamudin</a> 
            <div class="sosmed">
                <a href="https://api.whatsapp.com/send?phone=6282165201341"><img src="{% static 'wa.png'%}" alt="WhatsApp"></a>
                <a href="   https://www.instagram.com/saidnizam.udin/" class="mr-2"><img src="{% static 'igmantap.png'%}" alt="Instagram"></a>
                <a href="https://www.twitter.com/AmbulanceZig/" class="mr-1"><img src="{% static 'twittermantap.png'%}" alt="Twitter"></a>
            </div>
        </nav>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>