{% extends 'Layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style-phortopholio.css'%}">
{% endblock css %}

{% block content %}
<div class="main mb-5"style="
        z-index:-1;
    ">
        <div class="foto-atas d-flex justify-content-center mt-5 mb-5"  data-aos="fade-down" data-aos-duration="1200" >
            <div class="image">
    
            </div>
            <span>WELCOME TO MY WEBSITE.</span>
        </div>
        <div class="content" data-aos="fade-right" data-aos-duration="1800">
            <div class="circle1">
                
            </div>
            <div class="judul ml-3" id="judul1">
                <span>BIODATA</span>
            </div>
            <div class="isi ml-5 mt-2" id="biodata">
                <p>Nama saya Said Nizamudin dengan
                NPM 1906299124 dari angkatan Maung 2019. 
                Saya berkuliah di Fakultas Ilmu Komputer
                Universitas Indonesia dan mengambil  jurusan 
                Sistem Informasi. Saya orang yang suka berpetualang dan 
                memiliki  harapan dimana saya 
                dapat membantu orang banyak di kemudian  hari 
                dengan ilmu yang telah saya dapatkan :) </p>
            </div>
            <hr class="mt-5 mb-0">
        </div>
        <div class="content d-flex flex-column align-items-end mt-4"data-aos="fade-left" data-aos-duration="1400">
            <div class="circle2">
    
            </div>
            <div class="judul d-flex justify-content-end mr-1" id="judul2">
                <span>EDUCATION</span>
            </div>
            <div class="isi d-flex flex-column align-items-end mt-3 mr-5" id="education">
                <span><b>Universitas Indonesia</b></span> 
                <span>(2016-2019)</span> 
                <span><b>SMAN Modal Bangsa Aceh</b></span>
                <span>(2016-2019)</span> 
                <span><b>SMPN 19 Percontohan</b></span>
                <span>(2013-2019)</span> 
                <span><b>SDIT Nurul Ishlah Banda Aceh</b></span>
                <span>(2007-2013)</span> 
            </div>  
            <hr style="
            width: 100%;
            height: 1px;
            margin-bottom: 0px;
            " class="mt-5">
        </div>
        <div class="content mt-4 mb-5" data-aos="fade-right" data-aos-duration="1600">
            <div class="circle3">
    
            </div>
            <div class="judul ml-3" id="judul3">
                <span>EXPERIENCE</span>
            </div>
            <div class="isi ml-5 mt-2" id="experience">
                <ul>
                <li>Busidev PERAK 2020</li> 
                <li>Depor 2020 </li>
                <li>FnB Compfest 12 </li>
                <li>Kreatif PMB 2020 </li>
                <li>Pengajar Olimpiade Komputer 2020</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}