<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylestory1.css'%}">

    <title>My Website</title>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 ">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav m-auto">
            <li class="nav-item ml-5">
              <a class="nav-link" href="#">MY BIODATA</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    <div class="col-sm">
          <div class="tengah">
            <div class="jumbotron">
              <h1 class="display-4 text-white">Welcome to My Website</h1>
              <hr class="my-4">
              <p class="text-white font-weight-bold lead" id="namaNPM">Terima Kasih... Sudah Berkunjung</p>
              <a class="btn btn-primary btn-lg" href="https://www.instagram.com/saidnizam.udin/" role="button">Visit My IG</a>
              <a class="btn btn-primary btn-lg ml-3" href="https://api.whatsapp.com/send?phone=6282165201341" role="button">Visit My WA</a>
              <a class="btn btn-primary btn-lg ml-3" href="https://www.twitter.com/AmbulanceZig/" role="button">Visit My Twitter</a>
            </div>

            <div class="card-item d-flex justify-content-center m-5">
              <div class="card d-inline-block mr-5 ml-5 " style="width: 18rem;">
                <img src="{% static 'Profil.JPG'%}" class="card-img-top" alt="Profile">
                <div class="card-body">
                  <h5 class="card-title">BIODATA</h5>
                  <hr>
                  <p class="card-text">Nama        : Said Nizamudin</p>
                  <p class="card-text">NPM         : 1906299124</p>
                  <p class="card-text">Angkatan    : Maung 2019</p>
                  <p class="card-text">Jurusan     : Sistem Informasi</p>
                  <p class="card-text">Universitas : Universitas Indonesia</p>
                  <p class="card-text">Hobi        : Ngoding, Basket, dan Travelling</p>
                </div>
              </div>
              <div class="card d-inline-block mr-5 ml-5" style="width: 18rem;">
                <img src="{% static 'UI.jpg'%}" class="card-img-top" alt="UI">
                <div class="card-body">
                  <h5 class="card-title">Riwayat Pendidikan</h5>
                  <hr>
                  <p class="card-text"><b>Universitas Indonesia</b><br><span>(2019-Sekarang)</span></p>
                  <p class="card-text"><b>SMAN Modal Bangsa Aceh</b><br><span>(2016-2019)</span></p>
                  <p class="card-text"><b>SMPN 19 Percontohan</b><br><span>(2013-2016)</span></p>
                  <p class="card-text"><b>SDIT Nurul Ishlah</b><br><span>(2007-2013)</span></p>
                
                </div>
              </div>
              <div class="card d-inline-block mr-5 ml-5" style="width: 18rem;">
                <img src="{% static 'Foto.JPG'%}" class="card-img-top" alt="Desciption">
                <div class="card-body">
                  <h5 class="card-title">About Me</h5>
                  <hr>
                  <p class="card-text">Saya adalah seorang anak yang memiliki rasa ingin tahu yang tinggi dan senang berpetualang :)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

    <nav class="navbar navbar-light bg-dark mt-2">
      <p>&copy; Copyright by Said Nizamudin</p>
    </nav>

  </body>
</html> 