body {
    background: #e7e2e2;
    width: 100%;
    height: 100%;
}

.image {
    width: 300px;
    height: 300px;
    display: block;
    background: url(foto-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 250px;
    background-position: center;
    margin-top: 45px;
}

.foto {
    width: 100%;
    display: flex;
    position: relative;
}

.menu1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 49px;
    display: flex;
    align-items: center;
    letter-spacing: 0.095em;
    
    color: black;
}

.footer .navbar .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    
    color: #FFFFFF;
}

.footer .navbar {
    display: flex;
    justify-content: space-between;
}
    

@media only screen and (max-width: 480px) {
    .kiri {
        opacity: 0;
        position: absolute;
    }

    .kanan {
        opacity: 0;
        position: absolute;
    }
    .footer .navbar .navbar-brand{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        
        color: #FFFFFF;
        
    }

    .footer .navbar .sosmed {
        margin-left: 0px;
    }

    .footer .navbar {
        padding: 8px;
    }
    
}