body {
    background: #FDFDFD;
}

.content {
    margin: 6px 1em ;
    position: relative;
    top: 60px;
    bottom: 60px;;
}
 
.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 250px;
    display: block;
    background-color: #EC3841;
    position: absolute;
    z-index: -1;
    left: -155px;
}

.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 250px;
    display: block;
    background-color: #EC3841;
    position: absolute;
    z-index: -1;
    right: -105px;
    top: 25px;
}

.circle3 {
    width: 175px;
    height: 175px;
    border-radius: 250px;
    display: block;
    background-color: #EC3841;
    position: absolute;
    z-index: -1;
    left: -115px;
    top: 28px;
}


.content .judul span {
    font-family: 'Bowlby One SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 49px;
    display: flex;
    align-items: center;
    letter-spacing: 0.095em;
    
    color: white;  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.content .isi {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.035em;

    color: #000000;
}

.image {
    width: 50vw;
    height: 45vh;
    display: block;
    background: url(Foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
    background-position: center;
}

.foto-atas {
    width: 100%;
    display: flex;
    position: relative;
}

.foto-atas span {
    font-family: 'Kanit', sans-serif;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 48px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.025em;

    color: #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;

    bottom: -20px;
}

.footer {
    margin-top: 4em;
}