nav a {
	font-family: bebas;
	font-size: 20px;
}

body {
	background-image: url("./pattern.jpg");
}
 
#x {
	height: 80px;
}

#namaNPM {
	font-size: 30px;
}

nav {
	height: 60px;
}

.nav-link {
	font-size: 62px;
	text-align: center;
}

ul a {
	font-size: 15px;
	color: black;
}

.ig {
	margin-left: 5px;
	background-color:white;
}

.wa {
	background-color:white;
	margin-right: 5px;
}

.card-header {
	color:red;
	font-size: 20px;
	text-align: center;
}

.jumbotron {
	text-align: center;
	background-image: url("./background.png");

}
.jumbotron h1 {
	font-family: bebas;
}

.jumbotron p {
	font-family: calibri;
	font-size: 20px;
}

.card-body a {
	border-radius: 30px;
}

.jumbotron .my-4 {
	border-color: white;
}

.jumbotron .btn {
	border-radius: 40px;
}

.card-item {
	text-align: center;
}

.navbar p {
	color: white;
	font-family: bebas;
	text-align: center;
	margin: auto;
	font-size: 20px;
}
