html {
    overflow-x: hidden;
}

body {
    background: #e7e2e2;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.content {
    margin: 6px 1em ;
    position: relative;
    top: 60px;
    bottom: 60px;;
}
 
.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 250px;
    display: block;
    background-color: #EC3841;
    position: absolute;
    z-index: -1;
    left: -155px;
}

.circle2 {
    width: 150px;
    height: 150px;
    border-radius: 250px;
    display: block;
    background-color: #EC3841;
    position: absolute;
    z-index: -1;
    right: -105px;
    top: 22px;
}

.circle3 {
    width: 175px;
    height: 175px;
    border-radius: 250px;
    display: block;
    background-color: #EC3841;
    position: absolute;
    z-index: -1;
    left: -115px;
    top: 20px;
}


.content .judul span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
    display: flex;
    align-items: center;
    letter-spacing: 0.095em;
    
    color:black;
}

.content .isi {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style:italic;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.035em;

    color: #000000;
}

.image {
    width: 47vw;
    height: 40vh;
    display: block;
    background: url(Foto.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
    background-position: center;
}

.foto-atas {
    width: 100%;
    display: flex;
    position: relative;
}

.foto-atas span {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.025em;

    color: #000000;

    bottom: -55px;
}

.kiri {
    z-index: 100;
}

.kanan {
    z-index: 100;
}

.footer .navbar .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    
    color: #FFFFFF;
}

.footer .navbar {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .kiri {
        opacity: 0;
        position: absolute;
    }

    .kanan {
        opacity: 0;
        position: absolute;
    }

    .image {
        width: 80vw;
        height: 25vh;
        display: block;
        background: url(Foto.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        background-position: center;
    }
    .foto-atas {
        width: 100%;
        display: flex;
        position: relative;
    }
    
    .foto-atas span {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 48px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
    
        color: #000000;
    
        bottom: -40px;
    }

    .kiri {
        z-index: -100;
    }
    
    .kanan {
        z-index: -100;
    } 

    .circle1 {
        width: 150px;
        height: 150px;
        border-radius: 250px;
        display: block;
        background-color: #EC3841;
        position: absolute;
        z-index: -1;
        left: -115px;
        top: 32px;
    }
    
    .circle2 {
        width: 120px;
        height: 120px;
        border-radius: 250px;
        display: block;
        background-color: #EC3841;
        position: absolute;
        z-index: -1;
        right: -95px;
        top: 22px;
    }
    
    .circle3 {
        width: 140px;
        height: 140px;
        border-radius: 250px;
        display: block;
        background-color: #EC3841;
        position: absolute;
        z-index: -1;
        left: -95px;
        top: 30px;
    }

    .content .judul span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 49px;
        display: flex;
        align-items: center;
        letter-spacing: 0.095em;
        
        color: black;
    }

    #judul1 {
        position: relative;
        right: 10px;
        top: 20px;
    }
    
    #judul2 {
        position: relative;
        left: 5px;
        top: 10px;
    } 
    
    #judul3 {
        position: relative;
        right: 8px;
        top: 10px;
    }    
    
    #biodata {
        position: relative;
        left: -5px;
        top: 20px;
    } 

    #education {
        position: relative;
        right: -10px;
        top: 0px;
    }
    
    #experience {
        position: relative;
        left: -15px;
        top: 5px;
    }

    .footer .navbar .navbar-brand{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        
        color: #FFFFFF;
        
    }

    .footer .navbar .sosmed {
        margin-left: 0px;
    }

    .footer .navbar {
        padding: 8px;
    }

    .content .isi {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style:italic;
        line-height: 23px;
        display: flex;
        align-items: center;
        letter-spacing: 0.035em;
    
        color: #000000;
    }
}